body {
    background-color: #f5f5dc;
}

h1 {
    color: #333333;
    text-align: center;
    font-size: 50px;
}

.content {
    padding-top: 70px;
}

/* Dropdown menu background color */
.dropdown-menu {
    background-color: #f7f7f7;
    max-width: 100px;
    ;
}

/* Dropdown link text color */
.dropdown-item {
    color: #333333;
}

/* Dropdown link text color on hover */
.dropdown-item:hover {
    background-color: #efefef;
}

/* Dropdown menu code for just in case 
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #f7f7f7;">
                        <a class="dropdown-item" style="color: #333333;" href="#">About Selectify</a>
                        <a class="dropdown-item" style="color: #333333;" href="#">Contact</a>
                        <a class="dropdown-item" style="color: #333333;" href="#">Privacy Policy</a>
                        <a class="dropdown-item" style="color: #333333;" href="#">Remove Access</a>
                    </div>
                    */
