h2 {
    color: #333333;
    text-align: center;
    font-size: 35px;
}

.loginButton {
    border: black;
    background-color: #808000;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.loginButton:hover {
    background-color: #556B2F;
    transition: 0.4s;
    text-decoration: none;
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}