{% extends "base.html" %}
{% block title %}Selectify- Album Selector{% endblock %}

{%block content%}
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<h2>About</h2>
<body>
    Last year, I began to listen to albums on a regular basis.
    I would browse the discographies of artists I liked and take album suggestions from friends, and add them to my saved albums list on Spotify.
    Eventually, I had over 100 albums saved to my list and choosing an album because a challenge because I had so many options to choose from.
    This Summer, I decided I wanted to teach myself Python and create a project written in Python that could have a real-life application for me, so I 
    decided to create Selectify.
</body>
{%endblock%}