{% extends "base.html" %}
{% block title %}Selectify- Album Selector{% endblock %}

{%block content%}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<body>
    <div class="oEmbed-center buttonContainer">
        <iframe src="https://open.spotify.com/embed/album/{{ uri }}" class="oEmbed-center" width="600" height="400s" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="buttonContainer bottom-centered">
        <a class="button" href="{{ selected_uri}}">Listen on Spotify</a>
    </div>
</body>
{%endblock%}